.atom-symbol {
    display: flex;
}
.atom-symbol-right {
    display: flex;
    flex-direction: column;
}
.atom-symbol-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
} 
.atom-symbol-left {
    display: flex;
    flex-direction: column;
}